@model MvcApplication1.Models.UserLogin

@{
    ViewBag.Title = "Validate";
}

<h2>Validate</h2>
<ul>
    
            <li>@Model.UserName</li>
            <li>@Model.Email</li>
            <li>@Model.IsApproved</li>

</ul>