@model MvcApplication1.Models.List.ListEdit

@{
    ViewBag.Title = "Editing " + Model.Name;
}

@using(Html.BeginForm())
{
    <p>
        <p>The image must be hosted on the internet.</p>
        @Html.LabelFor(m => m.Name)
        @Html.EditorFor(m => m.Name)
    </p>
    
    <p>
        @Html.LabelFor(m => m.MovingOptions.Select(l => l.Name))
        @Html.EditorFor(m => m.MovingOptions.Select(l => l.Id))
    </p>
    
    <input type="submit" value="Edit"/>
}

@using(Html.BeginForm("Delete","List",FormMethod.Post))
{
        <input type="submit" value="Remove List"/>
}


